/* use the below line for opaque waybar */
/*@import url("../../.cache/wal/colors-waybar.css");*/

/* use the below line for semi-transparent waybar */
@import url("/home/jack/.cache/wal/colors-custom-gtk3.css");

/* get your icons from the link below */
/* https://aur.archlinux.org/packages/ttf-material-design-icons-git/ */
/* or */
/* wget https://raw.githubusercontent.com/Templarian/MaterialDesign-Webfont/master/fonts/materialdesignicons-webfont.ttf */

* {
    border: none;
    border-radius: 0;
    font-family: iosevka, "Material Design Icons Desktop";
    font-size: 12.5px;
    min-height: 0;
}
window#waybar {
    background: @background;
    color: @foreground;
}
#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: @foreground;
}
#workspaces button.visible {
    background: @foreground;
    color: @background;
}
#workspaces button:not(.current_output) {
	opacity: 0.3;
}
#workspaces button.focused:not(.current_output) {
	opacity: 0.6;
}
#memory, #cpu, #temperature, #network, #pulseaudio#mic, #pulseaudio, #backlight, #battery {
    padding: 0 10px;
    margin: 0 0;
    background: transparent;
    background-color: transparent;
    color: @foreground;
}
#mode {
}
#memory {
}
#temperature {
}
#network {
}
#clock {
}
#pulseaudio {
}
#pulseaudio.muted {
}
#pulseaudio.mic {
}
#battery {
}
#battery.charging {
    color: #32CD32
}
#battery.warning:not(.charging) {
    color: #FFA500
}
#battery.critical:not(.charging) {
    color: #FF0000
}
